<!--<div class="jumbotron text-center action">-->
	<!--<div class="container">-->
		<!--<div class="alert alert-info">-->
			<!--The beta version of this service will allow you to search for a <strong>Justice of the Peace</strong>.-->
		<!--</div>-->
		<!--<div class="service-desc">-->
			<!--<h1>Public Index</h1>-->
			<!--<h3>A search engine for publicly listed professionals.</h3>-->
		<!--</div>-->

		<!--<div class="row search-form">-->
			<!--<div class="col-md-4">-->
			<!--</div>-->
			<!--<div class="col-md-4">-->
				<!--<input type="text"-->
				       <!--class="form-control input-lg search-input"-->
				       <!--placeholder="Search"-->
				       <!--ng-keypress="vm.enterKeySearch($event)"-->
				       <!--ng-model="vm.query.name">-->
				      <!-- -->
				<!--&lt;!&ndash;<select&ndash;&gt;-->
						<!--&lt;!&ndash;class="form-control input-lg search-input"&ndash;&gt;-->
						<!--&lt;!&ndash;ng-model="vm.query.parish"&ndash;&gt;-->
						<!--&lt;!&ndash;ng-options="parish.name for parish in vm.parishes">&ndash;&gt;-->

				<!--&lt;!&ndash;</select>&ndash;&gt;-->
				<!--&lt;!&ndash;<p style="font-size: 18px;">You can get a smaller listing of JPs if you choose a parish.</p>&ndash;&gt;-->
				<!--<button class="btn btn-primary btn-lg btn-block search-btn" ng-click="vm.search()">Search</button>-->

			<!--</div>-->
			<!--<div class="col-md-4">-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
<!--<div class="site-wrapper">-->
<!--<div class="cover-container">-->

	<!--<div class="masthead clearfix">-->
		<!--<div class="inner">-->
			<!--<h3 class="masthead-brand">Cover</h3>-->
			<!--<nav>-->
				<!--<ul class="nav masthead-nav">-->
					<!--<li class="active"><a href="#">Home</a></li>-->
					<!--<li><a href="#">Features</a></li>-->
					<!--<li><a href="#">Contact</a></li>-->
				<!--</ul>-->
			<!--</nav>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="inner cover">-->
		<!--<h1 class="cover-heading">Cover your page.</h1>-->
		<!--<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>-->
		<!--<p class="lead">-->
			<!--<a href="#" class="btn btn-lg btn-default">Learn more</a>-->
		<!--</p>-->
	<!--</div>-->

	<!--<div class="mastfoot">-->
		<!--<div class="inner">-->
			<!--<p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>-->
		<!--</div>-->
	<!--</div>-->

<!--</div></div>-->

<div class="inner cover">
	<div class="search" style="margin-top: -130px" >
		<h1>Public Index</h1>
		<h4>A search engine for publicly listed professionals.</h4>
		<input type="text"
		       class="form-control input-lg search-input"
		       placeholder="Search"
		       ng-keypress="vm.enterKeySearch($event)"
		       ng-model="vm.query.name">

		<div class="alert alert-info">
			The beta version of this service will allow you to search for a <strong>Justice of the Peace</strong>.
		</div>
	</div>
</div>