<div class="jumbotron text-center action">
	<div class="container">
		<div class="alert alert-info">
			The beta version of this service will allow you to search for a <strong>Justice of the Peace</strong>.
		</div>
		<div class="service-desc">
			<h1>Listy<small>beta</small></h1>
			<h3>Search Listy for publicly listed professionals.</h3>
		</div>

		<div class="row search-form">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<input type="text"
				       class="form-control input-lg search-input"
				       placeholder="Search Listy"
				       ng-model="vm.query.name">
				      
				<!--<select-->
						<!--class="form-control input-lg search-input"-->
						<!--ng-model="vm.query.parish"-->
						<!--ng-options="parish.name for parish in vm.parishes">-->

				<!--</select>-->
				<!--<p style="font-size: 18px;">You can get a smaller listing of JPs if you choose a parish.</p>-->
				<button class="btn btn-primary btn-lg btn-block search-btn" ng-click="vm.search()">Search</button>

			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>
</div>
