
body, .search {
    padding-top: 50px;
    padding-bottom: 20px;
}

.action{
    height: 100vh;
    background-color: #FFFFFF;
    padding-top: 30px;
    border-bottom: none;
}

.service-desc{
    margin-bottom: 20px;
}

div.alert.alert-info{
    font-size: 18px;
}
.action .btn{

}

.search div.list-group a.list-group-item{
    border: none;
}

.search div.list-group h4.list-group-item-heading{
    font-size: 19px;
}

.search div.list-group p.list-group-item-text{
    font-size: 16px;
}

.search .more-btn, .search-btn{
    font-size: 18px;
}

.search-input, .search-btn{
    margin-bottom: 20px;
}

.search{
    height: 100vh;
}

.medium-card{
    font-size: 18px;
}
