<div class="search">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<input class="form-control input-lg" ng-model="vm.q">
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary btn-lg search-btn" ng-click="vm.search()">Search</button>
			</div>
		</div>
		<h1>You searched for '{{vm.queryString}}' </h1>
		<h4><strong>1333</strong> results matched your search</h4>
		<hr>
		<div class="list-group">
			<a href="#" class="list-group-item">
				<h4 class="list-group-item-heading">ALLEN, Leopold A</h4>
				<p class="list-group-item-text">18 Judith Avenue Edgewater Bridgeport P.O.</p>
				<p class="list-group-item-text">St Catherine</p>
			</a>
			<a href="#" class="list-group-item">
				<h4 class="list-group-item-heading">ALLEN, Alsie Murene</h4>
				<p class="list-group-item-text">71 Hartford Drive, Vilmore</p>
				<p class="list-group-item-text">St Catherine</p>
			</a>
		</div>

		<div class="more">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<button class="btn btn-primary btn-lg btn-block more-btn">Show More Results</button>
				</div>
				<div class="col-md-4"></div>

			</div>
		</div>
	</div>
</div>